# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=bigdemo_cpa
DB_USER=root
DB_PASS=

# File Storage Driver (local | s3)
STORAGE_DRIVER=local
STORAGE_URL=http://localhost/am/backoffice/upload

# Mail SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_SECURE=ssl
MAIL_FROM_ADDRESS=your_email@gmail.com
MAIL_FROM_NAME="CPDTH"

IDCARD_NOTIFY_ENABLED=false

# JWT SECRET
JWT_SECRET=your_jwt_secret_key

# VIMEO
VIMEO_CLIENT_ID=your_vimeo_client_id
VIMEO_CLIENT_SECRET=your_vimeo_client_secret
VIMEO_ACCESS_TOKEN=your_vimeo_access_token

# SMS (ThaiBulkSMS)
THAIBULK_KEY=your_thaibulk_key
THAIBULK_SECRET=your_thaibulk_secret
THAIBULK_SENDER="CPD1"

# AWS S3 
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=ap-southeast-2
AWS_BUCKET=cpdth-storage
AWS_URL=https://cpdth-storage.s3.ap-southeast-2.amazonaws.com

# SlipOK API 
SLIPOK_API_KEY="your_slipok_api_key"
SLIPOK_BRANCH_ID="your_slipok_branch_id"

# PromptPay ID
PROMPTPAY_ID="your_promptpay_id"
